.contact-page {
  background: url(./assets/dwburnett-demon-garlits.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.carousel .carousel-item {
width: 50%;
height: 100%;
margin-top: 30px;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.brand-logo {
  font-weight: bold;
  font-style: italic;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.btn {
  background-color: red;
}

.material-icons {
  font-size: 59.5px;
  color: black;
}

h4 {
  color: black;
}

p {
  color: black;
}