.contact-page {
    background: url(./assets/dwburnett-demon-garlits.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

.carousel .carousel-item {
  width: 50%;
  height: 100%;
  margin-top: 30px;
}